// Einzeiliger Kommentar. Siehe https://sass-lang.com/documentation/syntax/comments

/* Ein
mehrzeiliger
Kommentar
*/

/*! Lauter Kommentar mit "!" wird beim kompilieren nicht entfernt.
(Wichtig z.B. bei style.css von WordPress-Themes oder bei Lizenz-Informationen.) */

/* Importiere Teildateien ("Partials"). Unterstrich und Dateiendung dürfen weggelassen werden.
Hinweis: @use ersetzt das lange übliche @import, siehe dazu https://sass-lang.com/documentation/at-rules/import
*/
@use 'normalize';
@use 'globals/queries';
@use 'globals/colors';
@use 'globals/spacings';
@use 'layout';
@use 'navigation';
@use 'typographie';
@use 'btn_input';
@use 'header';
@use 'addMovie';
@use 'movie';
@use 'controls';

// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
